{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "exclude": [
    "spec",
    "node_modules"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "cache": true,
  "all": true
}